.container {
    background-image: url(../images/Audrina-Patridge.jpg), url(../images/fashion1.jpeg);
    background-position: left, right;
    background-size: contain;
    opacity: 0.6;
    height: 700px;
    overflow: hidden;
}
.one {
    height: px;
    text-align: center;
}
.true {
    -webkit animation-duration: 3s;
    animation-duration: 3s;
}
