.container {
    background-image: url(../images/Audrina-Patridge.jpg), url(../images/fashion1.jpeg);
    background-position: left, right;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
    height: 700px;
    overflow: hidden;
}
.one {
    height: px;
    text-align: center;
}
.start {
    background-color: black;
    color: #FFA500;
    font-size: 20px;
    border-radius: 111px;
    float: right;
}
footer {
    background-color: #333;
    color: #FFFF99;
    height: 60px;
    padding: 2%;
}
.true {
    -webkit animation-duration: 3s;
    animation-duration: 3s;
    color: #FFFF0A;
    font-weight: 600;
}
